            body {
                display: flex;
                width: 100%;
                max-width: 640px;
                min-width: 320px;
                /* height: 1500px; */
                flex-direction: column;
                /* background-color: violet; */
                background-color: #f1f1f1;
                overflow-x: hidden;
                overflow: auto;
                margin: 0 auto;
                font-size: 14px;
                line-height: 1.5;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            
            img {
                vertical-align: middle;
            }
            
            a {
                color: black;
                text-decoration: none;
            }
            
            ul,
            li {
                padding: 0;
                margin: 0;
                list-style: none;
            }
            
            header,
            section,
            article {
                width: 100%;
                display: block;
                max-width: 640px;
                min-width: 320px;
                margin: 0 auto;
            }
            
            input {
                outline: none;
            }
            
            header {
                display: flex;
                width: 100%;
                height: 50px;
                background-color: #f1f1f1;
                align-items: center;
                /* 居中，margin */
                position: fixed;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                max-width: 640px;
                min-width: 320px;
                border-top: 1px solid #f1f1f1;
                border-bottom: 1px solid #ccc;
                box-sizing: border-box;
            }
            
            header div:nth-of-type(1) {
                flex: 1;
                align-items: center;
            }
            
            header div:nth-of-type(2) {
                width: 12%;
                background-color: #f1f1f1;
                height: 50px;
            }
            
            header div:nth-of-type(1) .sou {
                flex: 1;
                height: 30px;
                background-color: white;
                border-radius: 0.5em;
                color: black;
                padding-left: 30px;
                line-height: 28px;
                font-size: 9px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-shadow: 0 0 2px 2px #ccc;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                margin-left: 10px;
            }
            
            header div:nth-of-type(1) .sou::before {
                content: "";
                width: 30px;
                height: 30px;
                background: url(../images/sprite.png) no-repeat -59px -279px;
                background-size: 104px auto;
                position: absolute;
                top: 17px;
                left: 10px;
            }
            /*         
        header div:nth-of-type(1) form {
            flex: 1;
        }
        
        header div:nth-of-type(1) form input {
            width: 100%;
            height: 30px;
            border-radius: 1rem;
            border: 1px solid #ccc;
            padding-left: 30px;
        }
        
        header div:nth-of-type(1) form::before {
            content: "";
            width: 30px;
            height: 30px;
            background: url(../images/sprite.png) no-repeat -59px -279px;
            background-size: 104px auto;
            position: absolute;
            top: 17px;
            left: 10px;
        } */
            
            header div:nth-of-type(2) {
                color: black;
                margin: 0 auto;
                font-size: 10px;
                text-align: center;
            }
            
            header div:nth-of-type(2) a {
                color: black;
                font-size: 10px;
            }
            
            header div:nth-of-type(2) ::before {
                content: "";
                width: 30px;
                height: 30px;
                display: block;
                background: url(../images/sprite.png) no-repeat -55px -191px;
                background-size: 104px auto;
                margin: 0 auto;
                margin: 4px auto -2px;
            }
            
            section {
                background-color: burlywood;
                margin-top: 50px;
            }
            
            section img {
                width: 100%;
            }
            
            article {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 1em;
                margin-top: 3px;
            }
            
            article:nth-of-type(1) ul {
                width: 100%;
                display: flex;
            }
            
            article .wai {
                height: 64px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;
            }
            
            article .wai a {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            article .wai a span:nth-of-type(1) {
                width: 40px;
                height: 32px;
            }
            
            article .wai .juzhon {
                text-align: center;
                line-height: 50px;
                width: 40px;
                height: 32px;
            }
            
            article .wai .tu1 {
                background: url(../images/localnav_bg.png) no-repeat 0 1px;
                background-size: 32px;
            }
            
            article .wai .tu2 {
                background: url(../images/localnav_bg.png) no-repeat 0 -32px;
                background-size: 32px;
            }
            
            article .wai .tu3 {
                background: url(../images/localnav_bg.png) no-repeat 0 -64px;
                background-size: 32px;
            }
            
            article .wai .tu4 {
                background: url(../images/localnav_bg.png) no-repeat 0 -96px;
                background-size: 32px;
            }
            
            article .wai .tu5 {
                background: url(../images/localnav_bg.png) no-repeat 0 -128px;
                background-size: 32px;
            }
            
            article:nth-of-type(2) {
                /* height: 300px; */
                display: flex;
                flex-direction: column;
                overflow: hidden;
                background-color: #f1f1f1;
                border-radius: 1.0em;
            }
            
            article:nth-of-type(2) a {
                color: white;
            }
            
            article:nth-of-type(2) section {
                height: 100px;
                width: 100%;
                /* background-color: crimson; */
                display: flex;
                justify-content: flex-start;
                overflow: hidden;
                margin: 2px 0;
                /* border-radius: 1em; */
            }
            
            article:nth-of-type(2) section div:nth-of-type(1) a {
                height: 100%;
                background: url(../images/hotel.png) no-repeat bottom center;
                background-size: 180px auto;
                display: flex;
                align-items: flex-start;
                box-sizing: border-box;
                padding-top: 10px;
            }
            /* article:nth-of-type(2) section {
                background: -webkit-linear-gradient(left, #fa5a55, #fa994d)
            } */
            
            article:nth-of-type(2) section div {
                flex: 1;
                background-color: white;
                display: flex;
                flex-direction: column;
                /* justify-content: space-between; */
                align-items: center;
                color: black;
                background: -webkit-linear-gradient(left, #fa5a55, #fa994d)
            }
            
            article:nth-of-type(2) section div:nth-of-type(n+2) {
                border-left: 1px solid #f1f1f1;
            }
            
            article:nth-of-type(2) section div a {
                height: 50%;
                width: 100%;
                display: block;
                /* border-left: 1px solid #f1f1f1; */
                /* margin: -1px; */
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            article:nth-of-type(2) section:nth-of-type(2) div a {
                background-color: cornflowerblue;
            }
            
            article:nth-of-type(2) section:nth-of-type(3) div a {
                background-color: crimson;
            }
            
            article:nth-of-type(2) section div:nth-of-type(2) a:nth-of-type(1) {
                border-bottom: 1px solid #f1f1f1;
            }
            
            article:nth-of-type(2) section div:nth-of-type(3) a:nth-of-type(1) {
                border-bottom: 1px solid #f1f1f1;
            }
            /* article:nth-of-type(2) section:nth-of-type(2) div {
        background-color: darkseagreen;
    }
    
    article:nth-of-type(2) section:nth-of-type(2) div {
        background-color: palevioletred;
    } */
            
            article:nth-of-type(3) ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            
            article:nth-of-type(3) li {
                /* width: 20%;
                display: flex; */
                flex: 20%;
            }
            
            article:nth-of-type(3) .liebioa a {
                /* width: 100%;
                height: 100%; */
                /* background-color: chartreuse; */
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            article:nth-of-type(3) .liebioa a .juzhon {
                width: 25px;
                height: 30px;
            }
            
            article:nth-of-type(3) .liebioa .pian1 {
                background: url(../images/subnav-bg.png) no-repeat 0 5px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian2 {
                background: url(../images/subnav-bg.png) no-repeat 0 -20px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian3 {
                background: url(../images/subnav-bg.png) no-repeat 0 -51px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian4 {
                background: url(../images/subnav-bg.png) no-repeat 0 -81px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian5 {
                background: url(../images/subnav-bg.png) no-repeat 0 -110px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian6 {
                background: url(../images/subnav-bg.png) no-repeat 0 5px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian7 {
                background: url(../images/subnav-bg.png) no-repeat 0 -20px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian8 {
                background: url(../images/subnav-bg.png) no-repeat 0 -51px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian9 {
                background: url(../images/subnav-bg.png) no-repeat 0 -81px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(3) .liebioa .pian10 {
                background: url(../images/subnav-bg.png) no-repeat 0 -110px;
                background-size: 24px auto;
            }
            
            article:nth-of-type(4) {
                display: block;
            }
            
            article:nth-of-type(4) .dingbu {
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #ccc;
                overflow: hidden;
            }
            
            article:nth-of-type(4) .dingbu h2 {
                text-indent: -10em;
                width: 100px;
                display: flex;
                align-items: center;
                margin-left: 5px;
                position: relative;
            }
            
            article:nth-of-type(4) .dingbu h2 i:nth-of-type(1) {
                width: 70px;
                height: 20px;
                /* background-color: #fa5a55; */
                background: url(../images/hot.png) no-repeat 0 -15px;
                background-size: 74px;
            }
            
            article:nth-of-type(4) .dingbu h2 i:nth-of-type(2) {
                position: absolute;
                background-color: violet;
                width: 20px;
                height: 10px;
                left: 80px;
                /* background: url(../images/subnav-bg.png); */
                color: white;
                font-size: 12px;
            }
            
            article:nth-of-type(4) .dingbu a {
                /* width: 100%; */
                height: 20px;
                background-color: #fa5a55;
                border-radius: 1.0em;
                padding: 0 5px;
                color: white;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                padding: 2px 10px 3px 10px;
                overflow: hidden;
            }
            
            article:nth-of-type(4) .dingbu a::after {
                content: "";
                display: inline-block;
                width: 7px;
                height: 7px;
                border: 2px solid white;
                border-top: 2px solid white;
                border-left: 0 solid white;
                border-right: 2px solid white;
                border-bottom: 0 solid white;
                transform: rotate(45deg);
            }
            
            article:nth-of-type(4) .tupian {
                width: 100%;
                /* height: 70px; */
                background-color: violet;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            
            article:nth-of-type(4) .tupian div:nth-of-type(1) {
                display: flex;
                flex-direction: row;
            }
            
            article:nth-of-type(4) .tupian div:nth-of-type(1) a {
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                flex: 1;
            }
            
            article:nth-of-type(4) .tupian div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
            }
            
            article:nth-of-type(4) .tupian div:nth-of-type(2) a {
                display: flex;
                flex-direction: row;
                flex: 1;
                border-bottom: 1px solid #ccc;
            }
            
            article:nth-of-type(4) .tupian1 a img {
                border-right: 1px solid #ccc;
            }